In [18]:
# fibonacchi series : 0 1 1 2 3 5 8 13 21 34 55 ..

def fibonacchi():
    a = 0
    b = 1
    fib_upto = int(input('How many fibonacchi you want? '))
    if fib_upto == 1:
        print(a)
    elif fib_upto == 2:
        print(a,b)
        
    else:
        print(a,b, end = ' ')
        for i in range(fib_upto - 2):
            c = a + b 
            a = b
            b = c
            print(c, end =' ')

In [19]:
fibonacchi()

How many fibonacchi you want? 20
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

In [20]:
for i in range(1,10):
    print(i, end = ' ')

1 2 3 4 5 6 7 8 9

In [38]:
def func(name,school,age = 21):
    print(f'your name is {name}')
    print(f'your age is {age}')
    print(f'your school is {school}')

In [40]:
func('Emon','Ghorashal')

your name is Emon
your age is 21
your school is Ghorashal

In [48]:
x = 20

def func1():
    global x
    x = 5
    return x

def func2():
    print(x)
    
print(x)
print(func1())
print(x)
print(func2())

20
5
5
5
None

In [49]:
print(x)

5

In [55]:
mixed = [1,2,3,4, 'five', 6.2 ,None]
mixed[1] = 'Two'

In [56]:
mixed

[1, 'Two', 3, 4, 'five', 6.2, None]

In [57]:
mixed[:3:]

[1, 'Two', 3]

In [58]:
mixed[:1:]

[1]

In [59]:
mixed

[1, 'Two', 3, 4, 'five', 6.2, None]

In [64]:
mixed[3::] = 'three'
mixed

[1, 't', 't', 't', 'h', 'r', 'e', 'e']

In [66]:
mixed = [1, 'Two', 3, 4, 'five', 6.2, None]
mixed[3::] = 'three'

mixed

In [67]:
mixed

[1, 'Two', 3, 't', 'h', 'r', 'e', 'e']

In [71]:
mixed = [1, 'Two', 3, 4, 'five', 6.2, None]

In [73]:
mixed = [1, 'Two', 3, 4, 'five', 6.2, None]
mixed[2:4]= ['three','four']

In [74]:
mixed

[1, 'Two', 'three', 'four', 'five', 6.2, None]

In [75]:
fruits = ["Apple","banana"]

In [76]:
fruits.append('mango')

In [77]:
fruits

['Apple', 'banana', 'mango']

In [80]:
fruits = []

fruits.append('apple')
fruits.append('mango')
print(fruits)

['apple', 'mango']

In [84]:
green_fruits = ['coconut','mango']
green_fruits.append('grapes')
green_fruits.pop()
green_fruits

['coconut', 'mango']

In [85]:
green_fruits.insert(1,'grapes')

In [86]:
print(green_fruits)

['coconut', 'grapes', 'mango']

In [87]:
ripe_fruits = ['banana','oranges']

In [88]:
all_fruits = green_fruits + ripe_fruits
all_fruits

['coconut', 'grapes', 'mango', 'banana', 'oranges']

In [89]:
ripe_fruits

['banana', 'oranges']

In [90]:
green_fruits

['coconut', 'grapes', 'mango']

In [91]:
green_fruits = green_fruits + ripe_fruits

['coconut', 'grapes', 'mango', 'banana', 'oranges']

In [95]:
green_fruits = ['coconut', 'grapes', 'mango']

In [96]:
green_fruits.extend(ripe_fruits)

In [102]:
green_fruits

['coconut',
 'grapes',
 'mango',
 'banana',
 'oranges',
 ['banana', 'oranges'],
 ['banana', 'oranges']]

In [101]:
green_fruits.append(ripe_fruits)
green_fruits

['coconut',
 'grapes',
 'mango',
 'banana',
 'oranges',
 ['banana', 'oranges'],
 ['banana', 'oranges']]

In [108]:
green_fruits = ['coconut','mango']

In [104]:
ripe_fruits

['banana', 'oranges']

In [105]:
green_fruits

['coconut', 'mango']

In [106]:
green_fruits.append(ripe_fruits)

In [107]:
green_fruits

['coconut', 'mango', ['banana', 'oranges']]

In [109]:
fruits

['apple', 'mango']

In [110]:
green_fruits

['coconut', 'mango']

In [111]:
ripe_fruits

['banana', 'oranges']

In [112]:
green_fruits.extend(ripe_fruits)

In [113]:
green_fruits

['coconut', 'mango', 'banana', 'oranges']

In [116]:
green_fruits.pop(1)

'banana'

In [117]:
green_fruits

['coconut', 'oranges']

In [133]:
green_fruits = ['coconut', 'mango', 'banana', 'oranges']

In [134]:
green_fruits.pop(1)
green_fruits

['coconut', 'banana', 'oranges']

In [135]:
del green_fruits[2]
green_fruits

['coconut', 'banana']

In [136]:
green_fruits.remove('banana')
green_fruits

['coconut']

In [139]:
fruit1 = ['banana','mango']
fruit2 = ['banana','mango']

print(fruit1 == fruit2)  ## CHECKS EITHER VALUES SAME OR NOT
print(fruit1 is fruit2)  ## CHECKS EITHER THIS TWO OBJECTS IS IN SAME PLACE OF COMPUTER'S MEMORY OR NOT /
                         ## / EITHER FULLY SAME OBJECT OR NOT

True
False

In [141]:
name,age = [1,2]
print(name)
print(age)

1
2

In [155]:
"Emon 21".split(" ")

['Emon', '21']

In [148]:
full_name = ['Mehedi','Hasan','24']
'---'.join(full_name)

'Mehedi---Hasan---24'

In [153]:
full_name = ['Mehedi','Hasan','24']

print('--%%--'.join(full_name))

Mehedi--%%--Hasan--%%--24

In [154]:
full_name = ['Mehedi','Hasan','24']

' '.join(full_name)

'Mehedi Hasan 24'

In [156]:
"Emon 21".split(" ") ## .split(" ")যেখানে স্পেস ছিলো, সেখান থেকে ভাগ করে List বানিয়ে ফেল্লো ।

['Emon', '21']

In [158]:
'mehedi--hasan--emon--24'.split("--") ## .split("--")যেখানে স্পেস ছিলো, সেখান থেকে ভাগ করে List বানিয়ে ফেল্লো ।

['mehedi', 'hasan', 'emon', '24']

# .JOIN( ) ও .SPLIT( ) সম্পূর্ণ হুবহু বিপরীত.. example উপরে ।