In [1]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [2]:
for i in range(10,-2,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1
0
-1

In [3]:
for i in range(-1,-11,-1):
    print(i)

-1
-2
-3
-4
-5
-6
-7
-8
-9
-10

In [4]:
name = 'emon' 
for i in name:
    print(i)

e
m
o
n

In [5]:
name = 'Mehedi'
for i in range(0,len(name)):
    print(name[i])

M
e
h
e
d
i

In [6]:
for i in 'Mehedi':
    print(i)

M
e
h
e
d
i

In [7]:
for i in input('name? '):
    print(i)

name? we
w
e

In [8]:
type(i)

str

In [9]:
num = input('Enter a number :')
total = 0

for i in num:
    total += int(i)
print(total)

Enter a number :4
4

In [10]:
def add_two(a,b):
    return a + b
print(add_two(5,4))

9

In [11]:
total = add_two(5,6)
print(total)

11

In [12]:
num1 = int(input('Enter 1st number: '))
num2 = int(input('Enter 2nd number: '))

total = add_two(num1,num2)
print(total)

first_name = input('First name: ')
last_name = input('last name: ')

full_name = add_two(first_name,last_name)
print(full_name)

Enter 1st number: 6
Enter 2nd number: 6
12
First name: gn
last name: vv
gnvv

In [13]:
def last_char(name):
    return name[-1]

In [14]:
print(last_char('Emon'))

n

In [15]:
your_name = input('your name? ')
print(last_char(your_name))

your name? f
f

In [16]:
namE = input('nam ki? ')
last_letter = last_char(namE)
print(last_letter)

nam ki? rg
g

In [17]:
print(last_char('MEHEDI'))

I

In [18]:
def even_odd(num):
    if num % 2 == 0:
        return 'even'
    else:
        return 'Odd'

In [19]:
print(even_odd(78))

even

In [20]:
def even_odd(num):
    if num % 2 == 0:
        return 'even'
    return 'Odd'

In [21]:
def even_odd(num):
    if num%2 == 0:
        return 'even'
    return 'odd'

In [22]:
print(even_odd(91))

odd

In [23]:
def song():
    return 'Happy birthdy song'

In [24]:
print(song())

Happy birthdy song

In [25]:
def greater(num1,num2):
    if num1 > num2:
        return f'{num1} is greater'
    return f'{num2} is greater'

In [26]:
print(greater(2,3))

3 is greater

In [27]:
def great(a,b):
    if a > b:
        return a
    return b
num1 = int(input('Enter 1st No. '))
num2 = int(input('Enter 2nd No. '))

bigger = great(num1,num2)
print(f'{bigger} is greater No.')

Enter 1st No. 5
Enter 2nd No. 5
5 is greater No.

In [28]:
def greater(num1,num2):
    if num1 > num2:
        return f'{num1} is greater'
    return f'{num2} is greater'
num1 = int(input('Enter 1st No. '))
num2 = int(input('Enter 2nd No. '))
print(greater(num1,num2))

Enter 1st No. 45
Enter 2nd No. 45
45 is greater

In [29]:
def greater(num1,num2):
    if num1 > num2:
        return num1
    return num2
print(greater(5,3))

5

In [30]:
def greatest(a,b,c):
    if a>b and a>c:
        return a
    elif b>a and b>c:
        return b
    else:
        return c

In [31]:
greatest(10,20,30)

30

In [32]:
def new_greatest(a,b,c):
    bigger = greater(a,b)
    return greater(bigger,c)

In [33]:
new_greatest(10,20,400)

400

In [1]:
import sys
sys.version

'3.7.6 (default, Jan  8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)]'