In [29]:
fruits = ['banana','apple','pear','mango','orange']

for fruit in fruits:
    print(fruit)

banana
apple
pear
mango
orange

In [30]:
fruits

['banana', 'apple', 'pear', 'mango', 'orange']

In [31]:
i = 0
while i < len(fruits):
    print(fruits[i])
    i += 1

banana
apple
pear
mango
orange

In [32]:
matrix  = [[1,2,3],[4,5,6],[7,8,9]]
for sublist in matrix:
    for i in sublist:
        print(i, end = ' ')

1 2 3 4 5 6 7 8 9

In [33]:
matrix[2][2]

9

In [34]:
range(1,11)

range(1, 11)

In [35]:
numbers = list(range(1,11))

In [36]:
print(numbers.pop())

10

In [37]:
popped_item = numbers.pop()

In [38]:
popped_item

9

In [39]:
print(numbers.index(5))

4

In [40]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8]

In [41]:
numbers.append(1)

In [42]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 1]

In [43]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 1]

In [44]:
numbers.pop()

1

In [45]:
numbers.pop()

8

In [46]:
numbers

[1, 2, 3, 4, 5, 6, 7]

In [47]:
numbers.index(1)

0

In [48]:
numbers.index(1,2)

ValueError: 1 is not in list

In [49]:
numbers

[1, 2, 3, 4, 5, 6, 7]

In [50]:
def negative_list(l):
    negative = []
    for i in l:
        negative.append(-i)
    return negative
print(negative_list(numbers))

[-1, -2, -3, -4, -5, -6, -7]

In [51]:
def square_list(l):
    square = []
    for item in l:
        sq = item**2
        square.append(sq)
    return square
print(square_list(numbers))

[1, 4, 9, 16, 25, 36, 49]

In [52]:
def square_list(l):
    square = []
    for item in l:
        square.append(item**2)
    return square

number = list(range(1,10))
print(square_list(number))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [53]:
def rev_func(l):
    reversed_list = []
    for i in range(0,len(l)):
        popped = l.pop()
        reversed_list.append(popped)
    return reversed_list

number = list(range(1,10))
print(rev_func(number))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [54]:
def reverse_func(l):
    reversed_list = l[::-1]
    return reversed_list
print(reverse_func([1,2,3,4,5,6,7,8,9,10]))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [55]:
def re_fun(l):
    l.reverse() 
    return l
num = [1,2,3,4,5]
print(re_fun(num))

[5, 4, 3, 2, 1]

In [56]:
def r_func(l):
    return l[::-1]
r_func([1,2,3,34])

[34, 3, 2, 1]

In [57]:
def letter_rev_list(l):
    reversed_list = []
    for item in l:
        reversed_list.append(item[::-1])
    return reversed_list
letter_rev_list(['abc','tuv','xyz'])

['cba', 'vut', 'zyx']

In [58]:
sample_list = ['abc','tuv','xyz']

In [59]:
def filter_odd_even(l):
    odd = []
    even = []
    odd_even = []
    for i in l:
        if i%2 == 0:
            even.append(i)
        else:
            odd.append(i)
    odd_even.append(odd)
    odd_even.append(even)
    
    return odd_even

natural_num = [1,2,3,4,5,6,7]
filter_odd_even(natural_num)

[[1, 3, 5, 7], [2, 4, 6]]

In [60]:
natural_num = [1,2,3,4,5,6,7]

In [61]:
def filter_odd_even(l):
    odd = []
    even = []
    for i in l:
        if i%2 == 0:
            even.append(i)
        else:
            odd.append(i)
    
    odd_even = [odd,even]
    return odd_even
natural_num = [1,2,3,4,5,6,7]
filter_odd_even(natural_num)

[[1, 3, 5, 7], [2, 4, 6]]

In [62]:
def common(l1,l2):
    common_li = []
    for i in l1:
        if i in l2:
            common_li.append(i)
    return common_li
list_1 = [1,2,5,8]
list_2 = [1,2,7,6]
print(common(list_1,list_2))

[1, 2]

In [63]:
def greatest_diff(l):
    return max(l) - min(l)
listt = [6,60,2]
print(greatest_diff(listt))

58

In [64]:
def nested_list_count(li):
    count_nested = []
    for i in li:
        if type(i) == list:
            count_nested.append(i)
    return len(count_nested)
nested_list = nested_list_count([1,2,3,[1,2],[3,4]])
print('There are {} nested lists'.format(nested_list))

There are 2 nested lists

In [65]:
l = [1,2]
print(type(l))
print(len(l))

<class 'list'>
2

In [66]:
def sublist_counter(l):
    count = 0
    for i in l:
        if type(i) == list:
            count += 1
    return count
print(sublist_counter([1,2,3,[1,2],[3,4]]))

2

In [67]:
mixed = (1,2,3,4.0,6)

In [68]:
type(mixed)

tuple

In [69]:
numbers = (1,2,3)

In [70]:
type(numbers)

tuple

In [71]:
number = (1,)
type(number)

tuple

In [72]:
words_touple = ('words',)
type(words_touple)

tuple

In [73]:
for i in numbers:
    print(i)

1
2
3

In [74]:
motors = 'Yammaha','R15','BMW'

In [75]:
motors

('Yammaha', 'R15', 'BMW')

In [76]:
type(motors)

tuple

In [77]:
numbers

(1, 2, 3)

In [78]:
numbers = (1,2,3,4)
one,two,three,four = (numbers)

In [79]:
one

1

In [80]:
two

2

In [81]:
three

3

In [82]:
names = ('Alu','tazvi','mohsin',['topu','emon','sushmoy'])

In [83]:
names.append('sakib')

AttributeError: 'tuple' object has no attribute 'append'

In [84]:
names

('Alu', 'tazvi', 'mohsin', ['topu', 'emon', 'sushmoy'])

In [85]:
numbers

(1, 2, 3, 4)

In [86]:
numbers.append('1')

AttributeError: 'tuple' object has no attribute 'append'

In [87]:
nums = (1,2,[3,4])
nums.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [88]:
names = ('Alu','tazvi','mohsin',['topu','emon','sushmoy'])
names[3].append('sakib')
names

('Alu', 'tazvi', 'mohsin', ['topu', 'emon', 'sushmoy', 'sakib'])

In [89]:
names[3].pop(2)

'sushmoy'

In [90]:
names

('Alu', 'tazvi', 'mohsin', ['topu', 'emon', 'sakib'])

In [91]:
names[3].pop()

'sakib'

In [92]:
names

('Alu', 'tazvi', 'mohsin', ['topu', 'emon'])

In [93]:
def func(int1,int2):
    add = int1 + int2
    multiply = int1 * int2
    return add,multiply
# func(2,3)
add , multiply = func(2,3)

In [94]:
print(add)
print(multiply)

5
6

In [95]:
add

5

In [96]:
multiply

6

In [97]:
nums = tuple(range(1,12))

In [98]:
nums

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)

In [99]:
nums = list(nums)

In [100]:
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [101]:
nums = str((1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11))

nums

In [102]:
nums

'(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)'

In [103]:
print(nums)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)

In [104]:
nums

'(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)'

In [105]:
type(nums)

str

In [106]:
user = {'name': 'Emon','age': 24}

In [107]:
type(user)

dict

In [108]:
user1 = dict(name = 'Mehedi Hasan', age = 20, hobby = 'Travelling')

In [109]:
print(user1)

{'name': 'Mehedi Hasan', 'age': 20, 'hobby': 'Travelling'}

In [110]:
type(user1)

dict

In [111]:
user

{'name': 'Emon', 'age': 24}

In [112]:
user1['name']

'Mehedi Hasan'

In [113]:
user1['age']

20

In [114]:
my_info_dict = {
    
    'name' : 'Emon',
    'age' : 20,
    'fav_series' : ['Dirilis Ertugrul','Yusuf Zulaikha','Stranger Things']
    
}

In [115]:
my_info_dict

{'name': 'Emon',
 'age': 20,
 'fav_series': ['Dirilis Ertugrul', 'Yusuf Zulaikha', 'Stranger Things']}

In [116]:
type(my_info_dict)

dict

In [117]:
my_info_dict['fav_series']

['Dirilis Ertugrul', 'Yusuf Zulaikha', 'Stranger Things']

In [118]:
my_info_dict['fav_series'][0]

'Dirilis Ertugrul'

In [119]:
users = {
    
    'user1' : {'name' : 'Emon',
    'age' : 20,
    'fav_series' : ['Dirilis Ertugrul','Yusuf Zulaikha','Stranger Things']},
    
    'user2' : {'name': 'Topu','age': 22}
    
}

In [120]:
type(users)

dict

In [121]:
users

{'user1': {'name': 'Emon',
  'age': 20,
  'fav_series': ['Dirilis Ertugrul', 'Yusuf Zulaikha', 'Stranger Things']},
 'user2': {'name': 'Topu', 'age': 22}}

In [122]:
user_info2 = {}
user_info2['name'] = 'Mehedi'
user_info2['age'] = 20

In [123]:
user_info2

{'name': 'Mehedi', 'age': 20}

In [124]:
type(user_info2)

dict

In [125]:
my_info_dict

{'name': 'Emon',
 'age': 20,
 'fav_series': ['Dirilis Ertugrul', 'Yusuf Zulaikha', 'Stranger Things']}

In [126]:
if 'name' in my_info_dict:
    print('Present')
else:
    print('Not present')

Present

In [127]:
if 'Emon' in my_info_dict.values():
    print('Present')
else:
    print('Not present')

Present

In [128]:
if 20 in my_info_dict.values():
    print('Present')
else:
    print('Not Present')

Present

In [129]:
user1

{'name': 'Mehedi Hasan', 'age': 20, 'hobby': 'Travelling'}

In [130]:
user1['name'] = 'Mehedi'

In [131]:
user1

{'name': 'Mehedi', 'age': 20, 'hobby': 'Travelling'}

In [132]:
for i in my_info_dict.values():
    print(i)

Emon
20
['Dirilis Ertugrul', 'Yusuf Zulaikha', 'Stranger Things']

In [133]:
my_info_values = my_info_dict.values()
print(my_info_values)

dict_values(['Emon', 20, ['Dirilis Ertugrul', 'Yusuf Zulaikha', 'Stranger Things']])

In [134]:
type(my_info_values)

dict_values

In [135]:
for i in my_info_values:
    print(i)

Emon
20
['Dirilis Ertugrul', 'Yusuf Zulaikha', 'Stranger Things']

In [136]:
my_info_keys = my_info_dict.keys()

In [137]:
print(my_info_keys)

dict_keys(['name', 'age', 'fav_series'])

In [138]:
for i in my_info_keys:
    print(i)

name
age
fav_series

In [139]:
for i in user1:
    print(user1[i])

Mehedi
20
Travelling

In [140]:
user1['name']

'Mehedi'

In [141]:
user_items = user1.items()
print(user_items)

dict_items([('name', 'Mehedi'), ('age', 20), ('hobby', 'Travelling')])

In [142]:
for key , value in user1.items():
    print(f'key is {key} and value is {value}')

key is name and value is Mehedi
key is age and value is 20
key is hobby and value is Travelling

In [143]:
for i,j in my_info_dict.items():
    print(f'key is {i} and value is {j}')

key is name and value is Emon
key is age and value is 20
key is fav_series and value is ['Dirilis Ertugrul', 'Yusuf Zulaikha', 'Stranger Things']

In [144]:
for i in user1.items():
    print(i)

('name', 'Mehedi')
('age', 20)
('hobby', 'Travelling')

In [145]:
 user1['like'] = 'ice-cream'

In [146]:
user1

{'name': 'Mehedi', 'age': 20, 'hobby': 'Travelling', 'like': 'ice-cream'}

In [147]:
user1.pop('like')

'ice-cream'

user1

In [148]:
user1

{'name': 'Mehedi', 'age': 20, 'hobby': 'Travelling'}

In [149]:
user1['like'] = 'ice-cream'

In [150]:
user1

{'name': 'Mehedi', 'age': 20, 'hobby': 'Travelling', 'like': 'ice-cream'}

In [151]:
popped_item = user1.pop('like')
print(f'i used to like {popped_item} very much')
print(user1)

i used to like ice-cream very much
{'name': 'Mehedi', 'age': 20, 'hobby': 'Travelling'}

In [152]:
popped_item = my_info_dict.popitem()
print(popped_item)
print(my_info_dict)

('fav_series', ['Dirilis Ertugrul', 'Yusuf Zulaikha', 'Stranger Things'])
{'name': 'Emon', 'age': 20}

In [153]:
type(popped_item)

tuple

In [154]:
user_info =  {'name' : 'Mehedi', 'age' : 20, 'hobby' : ['Travelling','Watching']}

more_info = {'name' : 'Topu', 'State' : 'Dhaka', 'Hobbies' : ['Travelling','coding']}

user_info.update(more_info)

print(user_info)

{'name': 'Topu', 'age': 20, 'hobby': ['Travelling', 'Watching'], 'State': 'Dhaka', 'Hobbies': ['Travelling', 'coding']}

In [155]:
user_info.update({})
print(user_info)

{'name': 'Topu', 'age': 20, 'hobby': ['Travelling', 'Watching'], 'State': 'Dhaka', 'Hobbies': ['Travelling', 'coding']}

In [156]:
# d = {'name': 'unknown' , 'age' : 'unknown'}  ## same values

d = dict.fromkeys(['name', 'age' , 'height'] , 'jhakanaka')

print(d)

{'name': 'jhakanaka', 'age': 'jhakanaka', 'height': 'jhakanaka'}

In [157]:
d = dict.fromkeys(range(1,11) , 'unknown')

print(d)

{1: 'unknown', 2: 'unknown', 3: 'unknown', 4: 'unknown', 5: 'unknown', 6: 'unknown', 7: 'unknown', 8: 'unknown', 9: 'unknown', 10: 'unknown'}

In [158]:
d = d.fromkeys(('name','age') , ['unknown','unknown'])

print(d)

{'name': ['unknown', 'unknown'], 'age': ['unknown', 'unknown']}

In [159]:
d = {'name' : 'Mehedi' , 'age' : 'unknown'}

In [160]:
d

{'name': 'Mehedi', 'age': 'unknown'}

In [161]:
print(d['name'])

Mehedi

In [162]:
print(d['hobby'])

KeyError: 'hobby'

In [163]:
print(d.get('hobby'))     # better

None

In [164]:
print(d.get('name'))

Mehedi

In [165]:
if 'name' in d:
    print('Present')
else:
    print('not present')

Present

In [166]:
if d.get('name'):
    print('Present')
else:
    print('not present')

Present

In [167]:
d

{'name': 'Mehedi', 'age': 'unknown'}

In [168]:
d.clear()
print(d)

{}

In [169]:
d = {'name': 'Mehedi', 'age': 'unknown'}

In [170]:
d

{'name': 'Mehedi', 'age': 'unknown'}

In [171]:
d1 = d.copy()
print(d1)

{'name': 'Mehedi', 'age': 'unknown'}

In [172]:
d1 = d
print(d1.popitem())
print(d)

('age', 'unknown')
{'name': 'Mehedi'}

In [173]:
d

{'name': 'Mehedi'}

In [174]:
d1 = d.copy()
# d1 = d
# d1.popitem()
# print(d1)
# print(d)
print(d1 is d)

False

In [175]:
user

{'name': 'Emon', 'age': 24}

In [176]:
print(user.get('fav','not found!'))

not found!

In [177]:
user = {'name': 'Emon', 'age': 24 ,'age' : 34}
print(user.get('age'))

34

In [178]:
user

{'name': 'Emon', 'age': 34}

# 'return' is mostly under function not under looop..

In [179]:
def cube_finder(n):
    cubes = {}
    for i in range(1,n+1):
#       d = {i : i**3}
        cubes.update({i : i**3})
    return cubes
        
#         return d       
#     cubes.update(d)
# print(cube_finder(4))

In [180]:
print(cube_finder(4))

{1: 1, 2: 8, 3: 27, 4: 64}

In [181]:
def word_counter(s):
    count = {}
    for i in s:
        count[i] = s.count(i)
    return count

word_counter('hahahaheholalalalleloo')

{'h': 5, 'a': 6, 'e': 2, 'o': 3, 'l': 6}

In [188]:
n = input('name? ')
a = int(input('age? '))
m = input('Name of movies you like (with comma): ').split(',')
s = input('Favourite songs? give comma: ').split(',')
        
    

def data_storer_d(n,a,m,s):

    store = {}

    store['name'] = n
    store['age'] = a
    store['fav_movies'] = m
    store['fav_songs'] = s
    

    
   
        
    return store
    


store = data_storer_d(n,a,m,s)

for key,value in store.items():
    print(f'{key} : {value}')

name? ed
age? 3
Name of movies you like (with comma): fef,erf
Favourite songs? give comma: hf,rgf
name : ed
age : 3
fav_movies : ['fef', 'erf']
fav_songs : ['hf', 'rgf']

In [190]:
store = {}

name = input('whats your name? ')
age = input('and your age? ')
fav_movies = input('favourite movie? (comma separeted) ')
fav_series = input('favourite series? (comma separeted) ')

store['name'] = name
store['age'] = age
store['favourite movie'] = fav_movies
store['favourite series'] = fav_series

for keys,values in store.items():
    print(f'{keys}  :  {values}')

whats your name? Emon
and your age? 20
favourite movie? (comma separeted) mission impossible 1 , mission impossible 2
favourite series? (comma separeted) Yousuf Zulaikha , Dirilis Ertugrul
name  :  Emon
age  :  20
favourite movie  :  mission impossible 1 , mission impossible 2
favourite series  :  Yousuf Zulaikha , Dirilis Ertugrul

In [191]:
l = [1,2,3,3,3,4,5,5,5,6,7,8]

l2 = list(set(l))

In [192]:
l2

[1, 2, 3, 4, 5, 6, 7, 8]

In [193]:
l ={1,2,3}

In [194]:
l

{1, 2, 3}

In [195]:
l.add(4)

In [196]:
l

{1, 2, 3, 4}

In [197]:
l.remove(3)
print(l)

{1, 2, 4}

In [199]:
l.remove(5)

KeyError: 5

In [201]:
l.discard(4)
print(l)

{1, 2}

In [203]:
l.discard(5)

print(l)

{1, 2}

In [204]:
s = l

In [205]:
s

{1, 2}

In [206]:
s.clear()
print(s)

set()

In [207]:
s = l

In [208]:
s

set()

In [209]:
l = s

In [210]:
l

set()

In [212]:
s ={1,2}

s1 = s.copy()

print(s1)

{1, 2}

In [214]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}

union_set = s1 | s2
print(union_set)

intersection_set = s1 & s2
print(intersection_set)

{1, 2, 3, 4, 5, 6}
{3, 4}

In [217]:
squares = []
for i in range(1,11):
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [229]:

for i in range(1,15):
    print('#'*i)

#
##
###
####
#####
######
#######
########
#########
##########
###########
############
#############
##############

In [232]:
for x in range(1,11):
    print(x**2, end = ' ')

1 4 9 16 25 36 49 64 81 100

In [239]:
square = [x**2 for x in range(1,12)]

In [240]:
square

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [242]:
cube = [x**3 for x in range(1,14)]

In [243]:
cube

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197]

In [245]:
sq = [i**2 for i in range(1,10)]

In [246]:
sq

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [247]:
neg = []
for i in range(1,11):
    neg.append(-i)
print(neg)

[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10]

In [248]:
neg = [-i for i in range(1,12)]

In [249]:
neg

[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10, -11]

In [251]:
names = ['Emon','Topu','Sushmoy']
# new_list = ['E','T','S']

new_list = []
for name in names:
    new_list.append(name[0])
print(new_list)

['E', 'T', 'S']

In [255]:
names = ['Emon','Topu','Sushmoy','Mohsin']

names_1st_letter = [name[0] for name in names]

print(names_1st_letter)

['E', 'T', 'S', 'M']

In [267]:
def rev_string(l):
    reversed_string = [i[::-1] for i in l]
    return reversed_string
lists = ['abc','def','xyz']
rev_string(lists)

['cba', 'fed', 'zyx']

In [269]:
def rev_string(l):
    
    reversed_string = [i[::-1] for i in l]
    
    return reversed_string

listt = input('enter strings, comma separated: ').split(',')
rev_string(listt)

enter strings, comma separated: abc,def,xyz

['cba', 'fed', 'zyx']

In [262]:
type(lists)

str

In [263]:
lists

"['abc','def','xyz']"

In [264]:
list(lists)

['[',
 "'",
 'a',
 'b',
 'c',
 "'",
 ',',
 "'",
 'd',
 'e',
 'f',
 "'",
 ',',
 "'",
 'x',
 'y',
 'z',
 "'",
 ']']

In [271]:
def reverse_strings(l):
    return [i[::-1] for i in l]
print(reverse_strings(['abc','def','xyz']))

['cba', 'fed', 'zyx']

In [272]:
numbers = list(range(1,11))
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [273]:
even_numbers = [i for i in numbers if i%2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10]

In [276]:
# or
even_numbers = [i for i in range(1,13) if i%2==0]
print(even_numbers)

[2, 4, 6, 8, 10, 12]

In [281]:
odd_numbers = [i for i in  range(1,11) if i%2 != 0 ]

In [282]:
odd_numbers

[1, 3, 5, 7, 9]

In [283]:
def int_asString_list(l):
    return [str(i) for i in l if (type(i) == int or type(i) == float)]
int_asString_list([True, False, [1,2,3], 1, 1.0, 3])

['1', '1.0', '3']

In [4]:
nums = [1,2,3,4,5,6,7,8,9]

new_list = []
for i in nums:
    if i%2 == 0:
        new_list.append(i*2)
    else:
        new_list.append(-i)
print(new_list)

[-1, 4, -3, 8, -5, 12, -7, 16, -9]

In [6]:
new_list2 = [i*2 if i%2 == 0 else -i for i in nums]
print(new_list2)

[-1, 4, -3, 8, -5, 12, -7, 16, -9]

In [8]:
new_list3 = [i*2 for i in nums if i%2 ==0 ]
new_list3

[4, 8, 12, 16]

In [11]:
new_list4 = [i*2 if (i%2==0) else i*3 for i in nums]
new_list4

[3, 4, 9, 8, 15, 12, 21, 16, 27]

In [14]:
sample = [[1,2,3],[1,2,3],[1,2,3]]
nested_list_comprehension = [[i for i in range(1,4)] for j in range(3)]
nested_list_comprehension

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]