In [1]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [2]:
for jhakanaka in mylist:
    print(jhakanaka)

1
2
3
4
5
6
7
8
9
10

In [3]:
for jhakanaka in mylist:
    if jhakanaka % 2 == 0:
        print(jhakanaka, 'is even')
    else:
        print(f"Odd number {jhakanaka}")

Odd number 1
2 is even
Odd number 3
4 is even
Odd number 5
6 is even
Odd number 7
8 is even
Odd number 9
10 is even

In [4]:
for jhakanaka in mylist:
    if jhakanaka % 2 == 0:
        print('{} is Even number'.format(jhakanaka))
    else:
        print(f"Odd number {jhakanaka}")

Odd number 1
2 is Even number
Odd number 3
4 is Even number
Odd number 5
6 is Even number
Odd number 7
8 is Even number
Odd number 9
10 is Even number

In [5]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
sum_list = 0
for numbers in mylist:
    sum_list = sum_list + numbers
print(sum_list)

55

In [7]:
sum_list = 0
for numbers in mylist:
    sum_list = sum_list + numbers
    print(sum_list)

1
3
6
10
15
21
28
36
45
55

In [8]:
for _ in 'Hello World':
    print(_)

H
e
l
l
o

W
o
r
l
d

In [9]:
print('i am Emon')

i am Emon

In [10]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [11]:
len(mylist)

4

In [12]:
for (jolly) in mylist:
    print(jolly)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [13]:
for (a,b) in mylist:
    print(a,b)

1 2
3 4
5 6
7 8

In [14]:
for (a,b) in mylist:
    print(a)

1
3
5
7

In [15]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [16]:
for a,b in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [17]:
mylist = [(1,2,3),(4,5,6),(7,8,9)]

In [18]:
for a,b,c in mylist:
    print(b)

2
5
8

In [19]:
d = {'k1':1, 'k2':2, 'k3':300}

for jolly in d.items():
    print(jolly)

('k1', 1)
('k2', 2)
('k3', 300)

In [20]:
d = {'k1':1, 'k2':2, 'k3':300}

for value in d.values():
    print(value)

1
2
300

In [21]:
x  = 0

while x < 5:
    print(f'the value of x is {x}')
    
    x += 1
else:
    print('X IS NOT LESS THAN 5')

the value of x is 0
the value of x is 1
the value of x is 2
the value of x is 3
the value of x is 4
X IS NOT LESS THAN 5

In [22]:
x  = 50

while x < 5:
    print(f'the value of x is {x}')
    
    x += 1
else:
    print('X IS NOT LESS THAN 5')

X IS NOT LESS THAN 5

In [23]:
x = [1,2,3]

for item in x:
    # comment
    pass

print('end of my script')

end of my script

In [24]:
mystring = 'Sammy'

In [25]:
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [26]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [27]:
x = 0

while x < 5:
    if x == 2:
        break
    print(x)
    x += 1

0
1

In [28]:
mylist = [1,2,3,4,5]

In [29]:
for num in mylist:
    print(num)

1
2
3
4
5

In [30]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [31]:
for numbers in range(1,10):
    print(numbers)

1
2
3
4
5
6
7
8
9

In [32]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [33]:
range(0,11,2)

range(0, 11, 2)

In [34]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [35]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [36]:
index_count = 0
word = 'abcde'

for index,value in enumerate(word):
    print(index)
    print(value)
    print('\n')
    index_count += 1

0
a


1
b


2
c


3
d


4
e

In [37]:
mylist1 = [1,2,3,4]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [38]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [39]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [40]:
for a,b,c in zip(mylist1,mylist2,mylist3):
    print(c)

100
200
300

In [41]:
'x' in [1,2,3]

False

In [42]:
'x' in ['x','y','z']

True

In [43]:
letters = 'x','y','z'

'x' in list(letters)

True

In [44]:
'a' in 'a world'

True

In [45]:
'a' in 'ward'

True

In [46]:
'mykey' in {'mykey':110}

True

In [47]:
d = {'mykey':385}

385 in d.values()

True

In [48]:
d = {'mykey':385}

385 in d.keys()

False

In [49]:
 from random import shuffle

In [50]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [51]:
shuffle(mylist)

In [52]:
mylist

[9, 1, 3, 2, 8, 4, 5, 6, 10, 7]

In [53]:
from random import randint

In [54]:
randint(0,10)

4

In [55]:
from random import randint

In [56]:
randint(0,100)

41

In [57]:
result= int(input("Fovourite Number: "))

Fovourite Number: 8

In [58]:
type(result)

int

In [59]:
int(result)

8

In [60]:
float(result)

8.0

In [61]:
result

8

In [62]:
int(result)

8

In [63]:
mystring = 'Hello'

In [64]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [65]:
mylist

['H', 'e', 'l', 'l', 'o']

In [66]:
mystring

'Hello'

In [67]:
mylist = [letter for letter in 'Word']

In [68]:
mylist

['W', 'o', 'r', 'd']

In [69]:
mylist = [x for x in 'Hot' ]

In [70]:
mylist

['H', 'o', 't']

In [71]:
mylist = [num**2 for num in range(0,11)]

In [72]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [73]:
type(mylist)

list

In [74]:
mylist = [x**2 for x in range(0,11) if x%2==0 ]

In [75]:

mylist

[0, 4, 16, 36, 64, 100]

In [76]:
celcius = [0,10,20,34.8]

fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [77]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [78]:
celcius = [0,10,20,34.5]

fahrenheit = []

for temp in celcius:
    fahrenheit.append((9/5)*temp + 32)

print(fahrenheit)

[32.0, 50.0, 68.0, 94.1]

In [79]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [80]:
mylist = [x if x%2==0 else 'odd' for x in range(0,11)]

In [81]:
mylist

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10]

In [82]:
mylist = []

for x in [2,3,4]:
    for y in [10,100,1000]:
        mylist.append(x*y)

In [83]:
mylist

[20, 200, 2000, 30, 300, 3000, 40, 400, 4000]

In [84]:
mylist = [x*y for x in [2,3,4] for y in [1,10,100]]

In [85]:
mylist

[2, 20, 200, 3, 30, 300, 4, 40, 400]

In [86]:
mylist

[2, 20, 200, 3, 30, 300, 4, 40, 400]

thats a assetment test now ::::
Starting below....

In [87]:
st = 'Sam Print only the words thats start with letter s in the sentence'

In [88]:
st

'Sam Print only the words thats start with letter s in the sentence'

In [89]:
for words in st.split():
    if words[0].lower() == 's':
        print(words)

Sam
start
s
sentence

In [90]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [91]:
for num  in range(0,11,2):
    if num == 0:
        continue
    print(num)

2
4
6
8
10

In [92]:
mylist = [x for x in range(1,51) if x%3 == 0]

In [93]:
mylist

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [94]:
st = 'every word in thid sentence that has an even number of letters'

In [95]:
for word in st.split():
    if len(word)%2 == 0:
        print(word + ' is even!')

word is even!
in is even!
thid is even!
sentence is even!
that is even!
an is even!
even is even!
number is even!
of is even!

In [96]:
 for numbers in range(1,101):
        if numbers%3 == 0 and numbers%5 == 0:
            print('FizzBuzz')
        if numbers%3 == 0:
            print('Fizz')
        elif numbers%5 == 0:
            print('Buzz')
        
        else:
            print(numbers)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
Fizz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
Fizz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
Fizz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
Fizz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
Fizz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
Fizz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [97]:
st = 'create a list of first letters of the string'

In [98]:
li = [words[0] for words in st.split()]

In [99]:
li

['c', 'a', 'l', 'o', 'f', 'l', 'o', 't', 's']

In [100]:
for words in st.split():
    print(words[0])

c
a
l
o
f
l
o
t
s

In [101]:
li  = [word for word in st.split()]

In [102]:
li

['create', 'a', 'list', 'of', 'first', 'letters', 'of', 'the', 'string']

In [103]:
li  = [word[0] for word in st.split()]

In [104]:
li

['c', 'a', 'l', 'o', 'f', 'l', 'o', 't', 's']

In [105]:
mylist = [1,2,3]

In [106]:
mylist.append(6)

In [107]:
mylist

[1, 2, 3, 6]

In [108]:
mylist.pop()

6

In [109]:
mylist

[1, 2, 3]

In [110]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [111]:
def hello_function():
    '''
    DOCKSTRING : Information about the function. IT WILL HELP YOU READ THE CODE.
    INPUT : NO INPUT AT ALL....
    OUTPUT : PLEASE SAY HELLO..
    '''
    print('Hello, excuse me')

In [112]:
hello_function()

Hello, excuse me

In [113]:
def  say_hello(name):
    print('HELLO '+name)

In [114]:
say_hello('JOSE')

HELLO JOSE

In [115]:
def say_hello(name = 'NAME'):
    return 'HELLO '+name

In [116]:
result = say_hello('David')

In [117]:
type(result)

str

In [118]:
result

'HELLO David'

In [119]:
def num_function(num1,num2):
    return num1 + num2

In [120]:
total = num_function(100,121)

In [121]:
total

221

In [122]:
type(total)

int

In [123]:
def add(n1,n2):
    return n1 + n2

In [124]:
result = add(20,30)

In [125]:
result

50

In [126]:
# find out if the word "dog" is in a string?

In [127]:
def dog_check(mystring):
    if 'dog' in mystring.lower():
        return True
    else:
        return False

In [128]:
dog_check('Dog ran away')

True

In [129]:
def dog_check(mystring):
    return 'dog' in mystring.lower() # thats bcz 'dog' in mystring is already a boolean. that will automatically say you either its true or false.. you don't need to check it by writing (if else) statement..
# writing down the code again below in my wish..

In [130]:
def dog_check(mystring):
    return 'dog' in mystring.lower()

In [131]:
dog_check("Dog ran awaay")

True

In [132]:
# PIG LATIN

In [133]:
def pig_latin(word):
    
    first_letter = word[0]
    
    #check if vowel
    if first_letter.lower() in 'aeiou':
        pig_word = word + 'ay'
    else:
        pig_word = word[1:] + first_letter + 'ay'   
    return pig_word

In [134]:
pig_latin('word')

'ordway'

In [135]:
def pig_latin(word):
    
    #check if vowel
    
    if word[0].lower() in 'aeiou':
        pig_word = word + 'ay'
    else:
        pig_word = word[1:] + word[0] + 'ay'   
    return pig_word

In [136]:
pig_latin('word')

'ordway'

In [137]:
pig_latin('Apple')

'Appleay'

In [138]:
def myfunc(a,b):
    # returns 5% of the sum of a and b
    return sum((a,b))*.05

In [139]:
myfunc(40,60)

5.0

In [140]:
def myfunc(a,b,c=0,d=0,e=0):
    # Returns 5% of the of a and b
    return sum((a,b,c,d,e))*.05
myfunc(60,25,15)

5.0

In [141]:
def myfunc(*args):           # *args or args allows unlimited input
    return sum(args) * .05   # giving

In [142]:
myfunc(40,60)

5.0

In [143]:
myfunc(40,60,50,475,84,48,74,47,85.56,84)

52.378

In [144]:
def myfunc(*oga):  # *args -- we use arg here just by convention.
    return sum(oga)# we can use here anything we want. but '*' must.

In [145]:
myfunc(30,60,10)

100

In [146]:
def myfunc(*args):
    for item in args:
        print(item)

In [147]:
myfunc(40,30,20,4,6)

40
30
20
4
6

In [148]:
def myfunc(**kwargs):
    print(kwargs)
    if 'veggie' in kwargs:
        print('I want to eat this {}'.format(kwargs['veggie']))
    else:
        print('I did not find any veggie here')

In [149]:
myfunc(fruit = 'apple', veggie = 'lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
I want to eat this lettuce

In [150]:
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    print('I would like to eat {} {}'.format(args[0],kwargs['food']))

In [151]:
myfunc(3,4,5,10,veggie = 'Carrot',food = 'burgers',fruit = 'apple',animal = 'chicken')

(3, 4, 5, 10)
{'veggie': 'Carrot', 'food': 'burgers', 'fruit': 'apple', 'animal': 'chicken'}
I would like to eat 3 burgers

In [152]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 ==0:
        if a < b:
            result = a
        else:
            result = b
    else:
        if a>b:
            result = a
        else:
            result = b
    return result

In [153]:
lesser_of_two_evens(2,4)

2

In [154]:
lesser_of_two_evens(2,5)

5

In [155]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 ==0:
        result = min(a,b)
    else:
        result = max(a,b)
    return result

In [156]:
lesser_of_two_evens(2,5)

5

In [157]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 ==0:
        return min(a,b)
    else:
        return max(a,b)

In [158]:
lesser_of_two_evens(2,5)

5

In [159]:
def animal_cracker(text):
    wordlist = text.split()
    print(wordlist)
    
    firstword = wordlist[0]
    secondword = wordlist[1]
    
    return firstword[0] == secondword[0]

In [160]:
animal_cracker('Love Lama')

['Love', 'Lama']

True

In [161]:
animal_cracker('Crazy Kangaroo')

['Crazy', 'Kangaroo']

False

In [162]:
def animal_cracker(text):
    wordlist = text.split()
    print(wordlist)
    
    return wordlist[0][0] == wordlist[1][0]

In [163]:
animal_cracker('Love Lama')

['Love', 'Lama']

True

In [164]:
animal_cracker('Crazy Kangaroo')

['Crazy', 'Kangaroo']

False

In [165]:
def animal_cracker(text):
    wordlist = text.split()
    print(wordlist)
    
    return wordlist[0][0] == wordlist[1][0]

In [166]:
animal_cracker('Love Lama')

['Love', 'Lama']

True

In [167]:
animal_cracker('Crazy Tiger')

['Crazy', 'Tiger']

False

In [168]:
def make_twenty(num1,num2):
    
    if num1 + num2 == 20:
        return True
    elif num1 == 20:
        return True
    elif num2 == 20:
        return True
    else:
        return False

In [169]:
make_twenty(10,20)

True

In [170]:
def make_twenty(num1,num2):
    
    return (num1+num2)==20 or num1 == 20 or num2 ==20

In [171]:
make_twenty(10,20)

True

In [172]:
def old_macdonald(name):
    first_letter = name[0]
    inbetween = name[1:3]
    fourth_letter = name[3]
    rest = name[4:]
    
    
    return first_letter.upper() + inbetween + fourth_letter.upper() + rest

In [173]:
old_macdonald('macdonald')

'MacDonald'

In [174]:
def old_macdonald(name):
    first_half = name[:3]
    second_half = name[3:]
    
    return first_half.capitalize() + second_half.capitalize()

In [175]:
old_macdonald('macdonald')

'MacDonald'

In [176]:
def old_mac(name):
    return name[:3].capitalize() + name[3:].capitalize()

In [177]:
old_mac('macdonald')

'MacDonald'

In [178]:
def old_macdon(name):
    return name[0].upper() + name[1:3] + name[3].upper() + name[4:]

In [179]:
old_macdon('macdonald')

'MacDonald'

In [180]:
def master_yoda(text):
    wordlist = text.split()
    reverse_wordlist = wordlist[::-1]
    return ' '.join(reverse_wordlist)

In [181]:
master_yoda('i love you')

'you love i'

In [182]:
master_yoda('we are ready')

'ready are we'

In [183]:
mylist = ['a','b','c']

In [184]:
'---'.join(mylist)

'a---b---c'

In [185]:
def my_rev(text):
    wordlist = text.split()
    reverse_wordlist = wordlist[::-1]
    return ' '.join(reverse_wordlist)

In [186]:
my_rev('I am home')

'home am I'

In [187]:
my_rev('We are ready')

'ready are We'

In [188]:
def almost_there(n):
    return abs(100-n) <= 10 or abs(200-n) <= 10

In [189]:
almost_there(89)

False

In [190]:
almost_there(211)

False

In [191]:
almost_there(90)

True

In [192]:
def has_33(nums):
    for i in range(0,len(nums)-1):
        print(i)
        if nums[i] == 3 and nums[i+1] == 3:
            return True
    return False

In [193]:
has_33([1,5,3,3,2])

0
1
2

True

In [194]:
has_33([1,3,5,7,6,3,3])

0
1
2
3
4
5

True

In [195]:
def haas_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
    return False

In [196]:
haas_33([1,3,5,7,3,3,6])

True

In [197]:
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
    return False

In [198]:
has_33([1,3,5,7,3,3,6])

True

In [199]:
def hass_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i:i+2] == [3,3]:
            return True
    return False

In [200]:
hass_33([1,3,5,7,3,3,6])

True

In [201]:
def paper_doll(text):
    result = ''
    
    for char in text:
        result += char*3
    return result

In [202]:
paper_doll('Hello')

'HHHeeellllllooo'

In [203]:
len('hello')

5

In [204]:
has_33([1,5,3,3,2])

True

In [205]:
def blackjack(n1,n2,n3):
    total = sum((n1,n2,n3))
    if total <= 21:
        return total
    elif total >= 21 and (n1 == 11 or n2 == 11 or n3 == 11): # elif total <= 31 and (n1 == 11 or n2 == 11 or n3 == 11):  ---> has nooo mistake and preferable.
        return total-10
    else:
        return 'BUST'

In [206]:
blackjack(5,6,7)

18

In [207]:
blackjack(9,9,9)

'BUST'

In [208]:
blackjack(9,9,11)

19

In [209]:
blackjack(45,46,11)

92

In [210]:
def blackjack(n1,n2,n3):
    total = sum((n1,n2,n3))
    if total <= 21:
        return total
    elif total <= 31 and 11 in (n1 == 11 or n2 == 11 or n3 == 11): #(or can say) --> 11 in [n1,n2,n3]
        return total-10
    else:
        return 'BUST'  
                            # now it has no mistake at all..

In [211]:
blackjack(5,6,7)

18

In [212]:
blackjack(45,46,11)

'BUST'

In [213]:
def black_jack(a,b,c):
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    elif sum([a,b,c]) <= 31 and 11 in [a,b,c]:
        return sum([a,b,c])-10
    else:
        return "BUST"

In [214]:
black_jack(5,6,7)

18

In [215]:
black_jack(9,9,9)

'BUST'

In [216]:
black_jack(9,9,11)

19

In [217]:
black_jack(45,46,11)

'BUST'

SUMMER OF '69: Return the sum of the numbers in the array, except ignore section of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

In [218]:
def summer_69(array):
    total = 0
    add = True
    
    for num in array:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [219]:
summer_69([4,5,6,7,8,9])

9

In [220]:
summer_69([3,6,8,5,3])

3

In [221]:
summer_69([])

0

SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

        spy_game([1,2,4,0,0,7,5])
        spy_game([1,0,2,4,0,5,7])
        spy_game([1,7,2,0,4,5,0])

In [222]:
def spy_game(nums):
    
    code = [0,0,7,'x']
    # [0,0,7,'x']
    # [0,7,'x']
    # [7,'x']
    # ['x'] length 1
    for num in  nums:
        if num == code[0]:
            code.pop(0)
    if len(code) == 1:
        return True

In [223]:
spy_game([1,2,4,0,0,7,5])

True

In [224]:
def spy_game(nums):
    
    code = [0,0,7,'x']
    # [0,0,7,'x']
    # [0,7,'x']
    # [7,'x']
    # ['x'] length 1
    for num in  nums:
        if num == code[0]:
            code.pop(0)
    return len(code) == 1

In [225]:
spy_game([1,2,4,0,0,7,5])

True

In [226]:
 spy_game([1,0,2,4,0,5,7])

True

In [227]:
 spy_game([1,7,2,0,4,5,0])

False

In [228]:
x = []

In [229]:
print(len(x))

0

SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

    spy_game([1,2,4,0,0,7,5])
    spy_game([1,0,2,4,0,5,7])
    spy_game([1,7,2,0,4,5,0])

In [230]:
def spy_game(nums):
    
    code = [0,0,7,'x']
    # [0,0,7,'x']
    # [0,7,'x']
    # [7,'x']
    # ['x'] length 1
    for num in  nums:
        if num == code[0]:
            code.pop(0)
    return len(code) == 1

In [231]:
 spy_game([1,0,2,4,0,5,7])

True

In [232]:
def count_primes(num):
    
    if num<2:
        return 0
    primes = [2]
    x = 3
    
    while num >= x:
        for y in range(3,x,2):
            if x%y == 0:
                x += 2
                break   #        ,       
        else:           #      (else)
            primes.append(x) 
            x += 2
    print(primes)
    return len(primes)

In [233]:
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [234]:
# in real life, how to check any number is prime or not.....????????????

#                           =>

In [235]:

def count_prime(number):
    
    primes = [2]
    x = 3
    
    while number >= x:
        for y in range(3,x,2):
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [236]:
count_prime(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [237]:
def count_prime(number):
    
    primes = [2]
    x = 3
    
    while number >= x:
        for y in primes:
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [238]:
count_prime(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [239]:
def square(num):
    return num**2

In [240]:
my_nums = [1,2,3,4,5]

In [241]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [242]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [243]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [244]:
names = ['emonn', 'efad', 'ratri', 'sunny']

In [245]:
list(map(splicer,names))

['e', 'EVEN', 'r', 's']

In [246]:
def square(nums):
    return nums**2

In [247]:
my_nums = [1,2,3,4,5]

In [248]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [249]:
def check_even(num):
    return num%2 == 0

In [250]:
mynums = [1,2,3,4,5]

In [251]:
list(filter(check_even,mynums))

[2, 4]

In [252]:
for n in filter(check_even,mynums):
    print(n)

2
4

In [253]:
square = lambda nums: nums**2

In [254]:
square(5)

25

In [255]:

my_nums = [1,2,3,4,5,6,7,8]

In [256]:
list(map(lambda num: num**2 , my_nums))

[1, 4, 9, 16, 25, 36, 49, 64]

In [257]:
my_nums = [2,3,4,5,6,7,8,9,10,11,12]

In [258]:
list(filter(lambda num:num%2 == 0,my_nums))

[2, 4, 6, 8, 10, 12]

In [259]:
names = ['EMON','SUNNY','HRIDOY','TOPU']

In [260]:
list(map(lambda name:name[0], names))

['E', 'S', 'H', 'T']

In [261]:
list(map(lambda name:name[::-1], names))

['NOME', 'YNNUS', 'YODIRH', 'UPOT']

In [262]:
x = 25

def printer():
    x = 50
    return x

In [263]:
print(x)

25

In [264]:
print(printer())

50

In [265]:
name = 'THIS IS A GLOBAL STRING'

def greet():
    
#    name = 'Sammy'
    
    def hello():
        print('Hello '+ name)
    
    hello()

In [266]:
greet()

Hello THIS IS A GLOBAL STRING

In [267]:
x = 50

def func(x):
    
    print(f'X is {x}')
    
    # LOCAL REASSIGNMENT!
    x = 200
    print(f'I JUST LOCALLY CHANGED X TO {x}')

In [268]:
func(x)

X is 50
I JUST LOCALLY CHANGED X TO 200

In [269]:
print(x)

50

In [270]:
x = 50

def func():
    global x
    print(f'X is {x}')
    
    # LOCAL REASSIGNMENT ON A GLOBAL VARIABLE!
    x = 200
    print(f'I JUST LOCALLY CHANGED GLOBAL X TO NEW VALUE {x}')

In [271]:
print(x)

50

In [272]:
func()

X is 50
I JUST LOCALLY CHANGED GLOBAL X TO NEW VALUE 200

In [273]:
print(x)

200

In [274]:
x = 50

def func(x):
    
    print(f'X is {x}')
    
    # LOCAL REASSIGNMENT ON A GLOBAL VARIABLE!
    x = 200
    print(f'I JUST LOCALLY CHANGED TO NEW VALUE {x}')
    
    return x

In [275]:
print(x)

50

In [276]:
x = func(x)

X is 50
I JUST LOCALLY CHANGED TO NEW VALUE 200

In [277]:
x

200

In [278]:
print(x)

200

# Volume of a sphere given its radius ==>

In [279]:
def vol(rad):
    return (4/3)*3.1416*rad**3

In [280]:
vol(3)

113.09759999999999

# Write a function that checks whether a number is in a given range (inclusive of High and low)

In [281]:
def ran_check(num,low,high):
    if num >= low and num <= high:
        print(f'Yes, {num} is in the given range of {low} & {high}')
    else:
        print('No, {} is not in the given range of {} & {}'.format(num,low,high))

In [282]:
ran_check(7.8,1,10)

Yes, 7.8 is in the given range of 1 & 10

In [283]:
ran_check(13,1,10)

No, 13 is not in the given range of 1 & 10

In [284]:
ran_check(4,1,5)

Yes, 4 is in the given range of 1 & 5

In [285]:
ran_check(5,1,4)

No, 5 is not in the given range of 1 & 4

In [286]:
ran_check(199,3,198)

No, 199 is not in the given range of 3 & 198

# Alternative, where returns only boolean (True/False)

In [287]:
def ran_check(num,low,high):
    return num >= low and num <= high

In [288]:
ran_check(3,1,4)

True

In [289]:
ran_check(5,1,3)

False

In [290]:
ran_check(6,1,5)

False

In [291]:
ran_check(109,200,310)

False

# Write a function that accepts a string & calculate the number of upper case letters and lower case letters.


 Sample string : Hello, Sunny ! How are you this fine Tuesday?
 
 Excepted output:
 
 Number of upper case letters : 4
 Number of lower case letters : 30

In [292]:
def up_low(strings):
    d = {'upper': 0,'lower': 0}
    for s in strings:
        if s.isupper():
            d['upper']+=1
        elif s.islower():
            d['lower']+=1
        else:
            pass
    print(f'Original string: "{strings}"')
    print('Number of upper case letter: {}'.format(d['upper']))
    print('Number of lower case letter: {}'.format(d['lower']))

In [293]:
up_low('Hello, Sunny ! How are you this fine Tuesday?')

Original string: "Hello, Sunny ! How are you this fine Tuesday?"
Number of upper case letter: 4
Number of lower case letter: 30

In [294]:
#  
strings = 'I AM A MUSLIM. My name is Mehedi Hasan Emon.'
up_low(strings)

Original string: "I AM A MUSLIM. My name is Mehedi Hasan Emon."
Number of upper case letter: 14
Number of lower case letter: 19

In [295]:
mn= "I Am a MUSLIM."
for m in mn:
    print(m)

I

A
m

a

M
U
S
L
I
M
.

# Write a function that takes a list and returns a new list with unique elements of the first list.


      Sample list: [1,1,1,1,1,2,2,2,3,3,3,4,4,4,4].
      Unique list: [1,2,3,4].

In [296]:
def unique(li):
    x = set(li)
    unique_list = list(x)
    return unique_list

In [297]:
unique([1,1,1,1,1,2,2,2,3,3,3,4,4,4,4])

[1, 2, 3, 4]

In [298]:
def uni(l):
    return list(set(l))

In [299]:
uni([1,1,1,1,1,2,2,2,3,3,3,4,4,4,4,5,5,5,5,5])

[1, 2, 3, 4, 5]

In [300]:
def unique_list(li):
    x = []
    for a in li:
        if a not in x:
            x.append(a)
        
    return x

In [301]:
unique_list([1,1,1,1,1,2,2,2,3,3,3,4,4,4,4,5,5,5,5,5,6,6,6,10])

[1, 2, 3, 4, 5, 6, 10]

# Write a function to mutiply all the numbers in a list

  Sample list: [1, 2, 3, -4]
  Expected Output: -24

In [302]:
def multi(li):
    m = 1
    for index in range(0,len(li)):
        print(index)
        if index <= len(li):
            
            m = m*li[index]
            
                
    return m

In [303]:
multi([1, 2, 3, -4])

0
1
2
3

-24

In [304]:
multi([1,2,3,4,2])

0
1
2
3
4

48

In [305]:
multi([-2 , 4.3])

0
1

-8.6

In [306]:
def multiply(numbers_in_list):
    mn = 1
    for x in numbers_in_list:
        print(x)
        mn *= x
    return mn

In [307]:
multiply([2,2,3,-4])

2
2
3
-4

-48

# Write a python function that checks whether a passed string is "palindrome" or not.

e.g., , eye, madam, nurses run.

In [308]:
def palindrome(s):
    return s == s[::-1]   #  s[::-1] == s[::]

In [309]:
palindrome('')

True

In [310]:
palindrome('')

False

In [311]:
palindrome('helleh')

True

In [312]:
palindrome('nurses run')  #false bcz of white-space

False

# Write a python function to check whether a string is "pangram" or not.


Note: Pangrams are words or sentenses containing every letter of the alphabet at least once.

For example: "The quick brown fox jumps over the lazy dog".

In [313]:
import string

def is_pangram(str1,alphabet = string.ascii_lowercase):
    return set(str1.lower()) >= set(alphabet)

In [314]:
is_pangram("The quick brown fox jumps over the lazy dog ")

True

In [315]:
import string

def is_pangram(str1):
    alphabet = string.ascii_lowercase
    return set(str1.lower()) >= set(alphabet)

In [316]:
is_pangram("The quick brown fox jumps over the lazy dog ")

True

In [317]:
x = ''
y = set(x)
print(y)

{'', '', '', '', '', ''}

In [318]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

# Alternative

In [319]:
def pangram(string):
    alphabet = 'abcdefghijklmnopqrstuvwxyz'
    return set(alphabet) <= set(string.lower())

In [321]:
pangram("The quick brown fox jumps over the lazy dog ")

True

#                                       Thanks..